<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header', { title: 'Artists' }) %>
    <%- include('partials/nav') %>
        <div class="container">
            <h2>List of Concerts</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Concert ID</th>
                            <th>Tour Name</th>
                            <th>Artist Name</th>
                            <th>Tickets Available</th>
                            <th>Tickets Sold</th>
                            <th>Start Date</th>
                            <th>Location</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% concerts.forEach(row => { %>
                            <tr>
                                <td><%= row.concertID %></td>
                                <td><%= row.tourName %></td>
                                <td><%= row.artistName %></td>
                                <td><%= row.numTicketAvailable %></td>
                                <td><%= row.numTicketSold %></td>
                                <td><%= row.startDate %></td>
                                <td><%= row.location %></td>
                                <td><a href="/concerts">Edit</a></td>
                                <td><a href="/concerts">Delete</a></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>

        <h3>Add Concert</h3>
        <form action="/concert">
            <label for="tourName">Tour Name:</label>
            <input type="text" id="tourName" name="tourName" placeholder="Enter tour name" required><br>
    
            <label for="artistName">Artist Name:</label>
            <input type="text" id="artistName" name="artistName" placeholder="Enter artist name" required><br>

            <label for="ticketsAvailable">Tickets Available:</label>
            <input type="number" id="ticketsAvailable" name="ticketsAvailable" placeholder="Enter number of tickets available" required><br>

            <label for="ticketsSold">Tickets Sold:</label>
            <input type="number" id="ticketsSold" name="ticketsSold" placeholder="Enter number of tickets sold" required><br>

            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" required><br>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="Enter location" required><br>

            <input type="submit" value="Add Concert">
        </form>

        <h3>Update Concert</h3>
        <form action="/concert">
            <label for="tourName">Tour Name:</label>
            <input type="text" id="tourName" name="tourName" placeholder="Enter tour name" required><br>
            
            <label for="artistName">Artist Name:</label>
            <input type="text" id="artistName" name="artistName" placeholder="Enter artist name" required><br>

            <label for="ticketsAvailable">Tickets Available:</label>
            <input type="number" id="ticketsAvailable" name="ticketsAvailable" placeholder="Enter number of tickets available" required><br>

            <label for="ticketsSold">Tickets Sold:</label>
            <input type="number" id="ticketsSold" name="ticketsSold" placeholder="Enter number of tickets sold" required><br>

            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" required><br>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="Enter location" required><br>

            <input type="submit" value="Edit Concert">
        </form>

        <h3>Delete Concert</h3>
        <form action="/concert">
            <label for="tourName">Tour Name:</label>
            <input type="text" id="tourName" name="tourName" placeholder="Enter tour name" required><br>
            
            <label for="artistName">Artist Name:</label>
            <input type="text" id="artistName" name="artistName" placeholder="Enter artist name" required><br>

            <label for="ticketsAvailable">Tickets Available:</label>
            <input type="number" id="ticketsAvailable" name="ticketsAvailable" placeholder="Enter number of tickets available" required><br>

            <label for="ticketsSold">Tickets Sold:</label>
            <input type="number" id="ticketsSold" name="ticketsSold" placeholder="Enter number of tickets sold" required><br>

            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" required><br>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="Enter location" required><br>

            <input type="submit" value="Delete Concert">
        </form>