<div class="container">
    <h2>List of Vendors Available at a Concert</h2>
        <table>
            <thead>
                <tr>
                {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                {{/each}}
                <th colspan="2">Actions</th>
                </tr>
            </thead>

        <tbody>
            {{#each data}}
                <tr>
                    <td>{{this.concertVendorID}}</td>
                    <td>{{this.concertID}}</td>
                    <td>{{this.vendorID}}</td>
                    <td><a href="/concertVendor">Edit</a></td>
                    <td><a href="/concertVendor">Delete</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- Add Form -->
    <h3>Add a Vendor Available at a Concert</h3>
    <p>To add a new vendor available at a concert, please select the vendor's name and concert location below, then click 'Add Vendor Available at a Concert'!</p>
    <form id="add-vendor-at-concert-form" action="/add-vendor-at-concert-form" method="POST">
        <label for="concertLocation">Concert Location:</label>
        <select id="concertLocation" name="concertLocation" required>
            <option value="">Select Concert Location</option>
            {{#each concerts}}
                <option value="{{this.concertID}}">{{this.location}}</option>
            {{/each}}
        </select><br>

        <label for="vendorName">Vendor Name:</label>
        <select id="vendorName" name="vendorName" required>
            <option value="">Select Vendor</option>
            {{#each vendors}}
                <option value="{{this.vendorID}}">{{this.vendorName}}</option>
            {{/each}}
        </select><br>

        <input type="submit" value="Add Vendor Available at a Concert">
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const deleteLinks = document.querySelectorAll('.delete-row');

    deleteLinks.forEach(function(deleteLink) {
        deleteLink.addEventListener('click', function(event) {
            event.preventDefault();
            const row = event.target.closest('tr');
                row.remove();
        });
    });
});
</script>
