<div class="container">
    <h2>List of Concerts</h2>
        <table>
            <thead>
                    <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th colspan="2">Actions</th>
                </tr>
            </thead>

            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{ this.concertID }}</td>
                        <td>{{ this.numTicketAvailable }}</td>
                        <td>{{ this.numTicketSold }}</td>
                        <td>{{ this.startDate }}</td>
                        <td>{{ this.location }}</td>
                        <td>{{ this.tourName }}</td>
                        <td>{{ this.artistName }}</td>
                        <td><a href="/artists">Edit</a></td>
                        <td><a href="#" class="delete-row">Delete</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <h3>Add Concert</h3>
        <p>To add a new concert, please enter the concert information below and click 'Add Concert'!</p>
        <form id="add-concert-form" action="/add-concert-form" method="POST">
        <label for="tourName">Tour Name: </label>
            <select name="tourName" id="tourName">
                <option value="">Select a Tour</option>
                {{#each tour}}
                    <option value="{{this.tourID}}">{{this.tourName}}</option>
                {{/each}}
            </select><br>
    
        <label for="artistName">Artist Name: </label>
            <select name="artistName" id="artistName">
                <option value="">Select an Artist</option>
                {{#each artist}}
                    <option value="{{this.artistID}}">{{this.artistName}}</option>
                {{/each}}
            </select><br>

            <label for="ticketsAvailable">Tickets Available:</label>
            <input type="number" id="ticketsAvailable" name="ticketsAvailable" placeholder="Enter number of tickets available" required><br>

            <label for="ticketsSold">Tickets Sold:</label>
            <input type="number" id="ticketsSold" name="ticketsSold" placeholder="Enter number of tickets sold" required><br>

            <label for="startDate">Start Date:</label>
            <input type="datetime-local" id="startDate" name="startDate" required><br>

            <label for="location">Location:</label>
            <input type="number" id="location" name="location" placeholder="Must be in Zip-Code format" required><br>

            <input type="submit" value="Add Concert">
        </form>
    </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Add event listener to delete links
    const deleteLinks = document.querySelectorAll('.delete-row');

    deleteLinks.forEach(function(deleteLink) {
        deleteLink.addEventListener('click', function(event) {
            event.preventDefault(); 

            const row = event.target.closest('tr');
            row.remove();
        });
    });
});
</script>
