<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>concertVendorDetails</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header', { title: 'Vendors Available' }) %>
    <%- include('partials/nav') %>
    <div class="container">
        <h2>List of Vendors available at a Concert</h2>
        <table>
            <thead>
                <tr>
                    <th>ConcertVendorID</th>
                    <th>VendorID</th>
                    <th>ConcertID</th>
                </tr>
            </thead>
        
            <tbody>
                <% concertVendor.forEach(row => { %>
                    <tr>
                        <td><%= row.concertVendorID %></td>
                        <td><%= row.vendorID %></td>
                        <td><%= row.concertID %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>